# Top-most EditorConfig file
root = true

# Set the default charset to UTF-8
[*]
charset = utf-8

# Indentation settings
[*.py]
indent_style = space
indent_size = 4

# Line endings
[*]
end_of_line = lf
insert_final_newline = true

# Trim trailing whitespace
[*.{py,ipynb}]
trim_trailing_whitespace = true

# Maximum line length
[*.{py,ipynb}]
max_line_length = 120
